body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

h3 {
  font-weight: normal;
}

.container {
  padding: 6rem;
}

.top-bar {
  background: #66b5e8;
  overflow: auto;
  color: #fefefe;
}

.top-bar__title {
  text-align: left;
}

.top-bar__nav {
  text-align: right;
}

.top-bar__link {
  color: inherit;
  margin: 1rem;
}

.grid {
  overflow: auto;
}

.grid-item {
  border: rgba(186,186,186,.43) 0.1rem solid;
  width: calc(100% / 3 - 2rem);
  margin: 1rem;
  border-radius: 0.5rem;
  height: calc(100% / 6);
}

.blog-info {
  height: 6.5rem;
}

.blog-info__name {
  /*display: inline-block;*/
  text-align: left;
  margin: 0.5rem;
}

.blog-info__username {
  /*display: inline-block;*/
  color: rgba(92,92,92,.58);
  text-align: left;
  margin: 0.5rem;
}

.blog-info__pic {
  width: 6rem;
  border-radius: 0.5rem;
  float: left;
  margin: 0.5rem;
  margin-top: -0.1rem;
}

.project {
  border-top: rgba(186,186,186,.43) 0.1rem solid;
  padding: 0.5rem;
}

.project__repo {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
}

.project__lang {
  float: right;
}

.lang-name {
  display: inline-block;
  text-align: right;
  font-size: 1rem;
  margin: 0;
}

.html-circle {
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background: #ff5c00;
}

.css-circle {
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background: #00a3ff;
}
