body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

h3 {
  font-weight: normal;
}

.container {
  padding: 6rem;
}

.top-bar {
  background: #66b5e8;
  overflow: auto;
  color: #fefefe;
}

.top-bar__title {
  text-align: left;
}

.top-bar__nav {
  text-align: right;
}

.top-bar__link {
  color: inherit;
  margin: 1rem;
}

.grid {
  overflow: auto;
}

.grid-item {
  border: rgba(186,186,186,.43) 0.1rem solid;
  width: calc(100% / 4 - 2rem);
  margin: 1rem;
  border-radius: 0.5rem;
  height: 15rem;
}

.blog-info {
  margin: 0.5rem;
}

.blog-info__name {
  /*display: inline-block;*/
  text-align: left;
}

.blog-info__username {
  /*display: inline-block;*/
  color: rgba(92,92,92,.58);
  text-align: left;
}

.blog-info__pic {
  width: 7rem;
  border-radius: 0.5rem;
  float: left;
}

.project {
  border-top: rgba(186,186,186,.43) 0.1rem solid;
  padding: 0.5rem;
  text-align: left;
}
